* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --input-border: #8b8a8b51;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
  font-family: "Fira Code", Menlo, Consolas, "Ubuntu Mono", "Roboto Mono",
    "DejaVu Sans Mono", monospace;
}
body {
  background-color: black;
  background-image: url(./coding-background.jpg);
  background-repeat: repeat;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.left-side {
  display: flex;
  width: 40vw;
  height: 100vh;
  /* flex-direction: column; */
  align-items: flex-end;
  justify-content: center;
  resize: both;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}
p#credit {
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-weight: 500;
  font-size: 0.75rem;
}
a.walkator {
  color: whitesmoke;
}
/* #code-img {
  width: min(26vw, 100%);
  height: min(100vh, 100%);
} */
#logo {
  width: min(6rem, 16%);
  height: min(10rem, 14%);
  top: 20rem;
  left: 20rem;
  position: absolute;
  padding: 5rem 10rem 5rem 10rem;
}
/* .logo {
  background-color: var(--input-border);
} */
.right-side {
  display: flex;
  flex-direction: column;
  width: 45vw;
  background-color: white;
}
div .input,
#user-password {
  font-size: 10px;
  font-size: max(10px, 0.5rem);
  font-family: inherit;
  padding: 0.015rem 3rem 0.015rem 0rem;
  background-color: #fff;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  line-height: 1;
  height: 1.25rem;
  transition: 180ms box-shadow ease-in-out;
}
div .input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 1px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 1px solid transparent;
}
div .input:invalid {
  border: #ff3c41;
  --input-focus-h: 358;
  --input-focus-s: 100%;
  --input-focus-l: 26%;
}
li label {
  font-size: 10px;
  font-size: max(10px, 0.5rem);
  font-family: inherit;
  display: block;
  height: 12px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}

div.top p {
  color: black;
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem 0rem 0rem 1rem;
}
p#log-in,
p#middle {
  padding-left: 1rem;
  padding-top: 1rem;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  height: 35vh;
  background-color: #f9fafb;
  padding-left: 1rem;
}
.top {
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 3rem;
  padding-right: 7rem;
}
.middle,
form {
  display: flex;
  justify-content: space-evenly;
  height: 30vh;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
  padding-left: 1rem;
}
.bottom {
  align-items: flex-start;
  padding-top: 1.5rem;
}
.create-account {
  padding: 0rem 0rem 0rem 1rem;
}
button {
  background-color: #c24250;
  border-radius: 7px;
  font-size: 0.8rem;
  color: white;
  padding: 8px 35px 8px 35px;
  border: transparent;
  font-family: inherit;
}

button:active {
  background-color: #c24250;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

a {
  text-decoration: none;
  font-family: inherit;
}
a#log-in-link {
  color: #c24250;
}

li {
  list-style: none;
  display: inline;
  font-family: inherit;
}
ul {
  display: inline-flex;
  gap: 2rem;
}
